:root {
  --color-dark: #000000;
  --color-dark-alt: #131619;
  --color-light: #FFFFFF;
  --color-dark-gray: #404040;
  --color-dark-gray-alt: #707070;
  --color-light-gray: #C4C4C4;

  --border: 1px solid var(--color-light);
  --border-radius: 30px;

  --font-family-base: 'Heebo', sans-serif;
  --font-family-accent: 'Yantramanav', sans-serif;

  --input-height: 54px;

  --container-width: 1300px;
  --container-padding-x: 15px;

  --transition-duration: 0.2s;

  --header-height: 90px;
}

@media (max-width: 1024px) {
  :root {
    --header-height: 120px;
  }
}

@media (max-width: 767px) {
  :root {
    --header-height: 92px;
  }
}
